.feeders {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  width: 80px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.feeders-contents {
  margin-top:40px;
  overflow-y: scroll;
  flex-grow: 1;
}

.feeders-contents::-webkit-scrollbar { 
  display: none; 
}

.news {
  position: absolute;
  top: 0;
  left: 80px;
  bottom: 0;
  right: 0;
  background-color: #FAFAFA;
}

.news-title {
  padding: 5px 20px;
}

.news-title .link {
  font-size: 0.6em;
  text-decoration: underline;
  font-weight: 100;
  color: gray;
}

.draggableBar {
  -webkit-app-region: drag;
}

.draggableBar.h40 {
  height: 40px;
}

.draggableBar.fixed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
