.feeders {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: auto;
  min-width: 80px;
  max-width: 80px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  box-sizing: border-box;
}

.feeders:hover {
  max-width: 100%;
  transition: all 1s ease;
}

.feeders-contents {
  margin-top: 40px;
  overflow-y: scroll;
  flex-grow: 1;
}

.feeders-contents::-webkit-scrollbar {
  display: none;
}

.news {
  position: absolute;
  top: 0;
  left: 80px;
  bottom: 0;
  right: 0;
  background-color: #fafafa;
  overflow-y: scroll;
}

.news-title {
  padding: 10px 20px 10px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}

.news-title > h1 {
  margin-bottom: 10px;
  font-size: 1.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.news-title > p {
  font-size: 0.8em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.news-title .link {
  margin-left: 10px;
  font-size: 0.6em;
  text-decoration: underline;
  font-weight: 100;
  color: gray;
}

.news-contents {
  margin-top: 75px;
  height: calc(100% - 75px);
  overflow: scroll;
  box-sizing: border-box;
}

.draggableBar {
  -webkit-app-region: drag;
  overflow: hidden;
}

.draggableBar.h40 {
  height: 40px;
}

.draggableBar.h75 {
  height: 75px;
}

.draggableBar.fixed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
